@font-face {
    font-family: "Soyuz Grotesk";
    src: url(../vendor/fonts/Soyuz\ Grotesk\ Bold.woff) format('woff'), 
    url(../vendor/fonts/Soyuz\ Grotesk\ Bold.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(../vendor/fonts/AnonymousPro-Regular.woff) format('woff'), 
    url(../vendor/fonts/AnonymousPro-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
    display: swap;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(../vendor/fonts/AnonymousPro-Bold.woff) format('woff'), 
    url(../vendor/fonts/AnonymousPro-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
    display: swap;
}

*{
    margin: 0;
    padding: 0;
}

header{
    background: #70FF00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content{
    margin: 30px 0;
    width: 100%;
    max-width: 1290px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    justify-content: center;
    background: linear-gradient(155.88deg, #FFED00 0%, #FF3DFE 51.89%, #5253FF 100%);

}

.content{
    width: 100%;
    max-width: 1290px;
    margin: 68px 0 26px;
}

.content__title{
    font-family: "Anonymous Pro";
    font-size: 42px;
    font-weight: 700;
}

.content__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 26px 0 0 0;
}

.card{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__image{
    width: 100%;
    height: 100%;
    max-height: 300px;
    border-radius: 12px;
}

.card__link{
    width: 85%;
    text-decoration: none;
    color: #121723;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card__info{
    width: 100%;
    background: #fff;
    min-height: 120px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__text{
    font-family: 'Anonymous Pro';
    font-size: 20px;
    font-weight: 400;
}

.card__text-title{
    font-size: 26px;
    font-weight: 700;
}

footer{
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__content{
    margin: 50px 0;
    width: 100%;
    max-width: 1290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials__link a{
    text-decoration: none;
    color: #fff;
    font-family: 'Anonymous Pro';
    font-size: 20px;
    font-weight: 700;
}

.socials{
    display: flex;
    column-gap: 24px;
}

.card:hover .card__image, .card:hover .card__info{
    box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.25);
    transition: .4s;
}

.card:hover{
    transform: translateY(-15px);
    transition: .4s;
}


